<%= form_with(model: fornecedor, local: true) do |form| %>
  <% if fornecedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
      <% fornecedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao, 'Descrição' %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade %>
  </div>

  <div class="field">
    <%= form.label :endereco, 'Endereço' %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :bairro %>
    <%= form.text_field :bairro %>
  </div>

  <div class="field">
    <%= form.label :numero, "Número" %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :telefones %>
    <div id="telefones_field">
      <% @telefones.each do |tel| %>
        <div>
          <input type="text" placeholder="DDD" name="telefone[]ddd" value="<%=tel.ddd%>">
          <input type="text" placeholder="Telefone" name="telefone[]numero" value="<%=tel.numero%>">
          <input type="text" placeholder="Referência" name="telefone[]referencia" value="<%=tel.referencia%>">
          <button type="button" onclick="rmField(this)"> - </button>
        </div>
      <% end %>
      <div>
        <input type="text" placeholder="DDD" name="telefone[]ddd">
        <input type="text" placeholder="Telefone" name="telefone[]numero">
        <input type="text" placeholder="Referência" name="telefone[]referencia">
        <button type="button" onclick="rmField(this)"> - </button>
      </div>
    </div>
    <button type="button" onclick="addTelefoneField()"> + </button>
  </div>

  <div class="field">
    <%= form.label :emails %>
    <div id="emails_field">
      <% @emails.each do |mail| %>
        <div>
          <input type="text" placeholder="Email" name="email[]endereco_email" value="<%=mail.endereco_email%>">
          <input type="text" placeholder="Referência" name="email[]referencia" value="<%=mail.referencia%>">
        </div>
      <% end %>
      <div>
        <input type="text" placeholder="Email" name="email[]endereco_email">
        <input type="text" placeholder="Referência" name="email[]referencia">
      </div>
    </div>
    <button type="button" onclick="addEmailField()"> + </button>
  </div>

  <div class="actions">
    <%= form.submit 'Submeter' %>
  </div>

  <%= link_to 'Cancelar', fornecedors_path %>
<% end %>
