<%= form_with(model: fornecedor, local: true) do |form| %>
  <% if fornecedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
      <% fornecedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :bairro %>
    <%= form.text_field :bairro %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :numero %>
  </div>

  <div class="field">
    <%= form.label :telefones %>
    <div id="telefones_field">
      <% @fornecedor.telefones.each do |tel| %>
        <div>
          <input type="text" placeholder="DDD" name="ddds[]" value="<%=tel.ddd%>">
          <input type="text" placeholder="Telefone" name="telefones[]" value="<%=tel.numero%>">
          <input type="text" placeholder="Referência" name="t_referencias[]" value="<%=tel.referencia%>">
          <button type="button" onclick="rmField(this)"> - </button>
        </div>
      <% end %>
      <div>
        <input type="text" placeholder="DDD" name="ddds[]">
        <input type="text" placeholder="Telefone" name="telefones[]">
        <input type="text" placeholder="Referência" name="t_referencias[]">
        <button type="button" onclick="rmField(this)"> - </button>
      </div>
    </div>
    <button type="button" onclick="addTelefoneField()"> + </button>
  </div>

  <div class="field">
    <%= form.label :emails %>
    <div id="emails_field">
      <% @fornecedor.emails.each do |mail| %>
        <div>
          <input type="text" placeholder="Email" name="emails[]" value="<%=mail.endereco_email%>">
          <input type="text" placeholder="Referência" name="e_referencias[]" value="<%=mail.referencia%>">
        </div>
      <% end %>
      <div>
        <input type="text" placeholder="Email" name="emails[]">
        <input type="text" placeholder="Referência" name="e_referencias[]">
      </div>
    </div>
    <button type="button" onclick="addEmailField()"> + </button>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
