<p id="notice"><%= notice %></p>

<h1>Fornecedores</h1>

<table>
  <tbody>
    <% @fornecedors.each do |fornecedor| %>
      <tr>
        <td><%= link_to fornecedor.nome, fornecedor %></td>
        <td><%= link_to 'Editar', edit_fornecedor_path(fornecedor) %></td>
        <td><%= link_to 'Remover', fornecedor, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="options">
  <div> <%= link_to 'Novo Fornecedor', new_fornecedor_path %> </div>
</div>
