<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fornecedor.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @fornecedor.descricao %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @fornecedor.cidade %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @fornecedor.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @fornecedor.bairro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @fornecedor.numero %>
</p>

<%= link_to 'Edit', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Back', fornecedors_path %>
