<p id="notice"><%= notice %></p>

<h1> <%= @fornecedor.nome %> </h1>
<%= link_to 'Editar', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Remover', @fornecedor, method: :delete, data: { confirm: 'Tem certeza?' } %>

<p>
  <strong>Nome:</strong>
  <%= @fornecedor.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @fornecedor.descricao %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @fornecedor.endereco %>, <%= @fornecedor.numero %> - <%= @fornecedor.bairro %> - <%= @fornecedor.cidade %>
</p>

<p>
  <strong>Telefone(s):</strong>
</p>

<%= render 'telefones/index', telefones: @telefones %>

<p>
  <strong>Email(s):</strong>
</p>

<%= render 'emails/index', emails: @emails %>

<p>
  <strong>Produtos:</strong>
</p>

<%= render 'produtos/index', produtos: @produtos %>
