<%= form_with(model: telefone, local: true) do |form| %>
  <% if telefone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telefone.errors.count, "error") %> prohibited this telefone from being saved:</h2>

      <ul>
      <% telefone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ddd %>
    <%= form.text_field :ddd %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :referencia %>
    <%= form.text_field :referencia %>
  </div>

  <div class="field">
    <%= form.label :fornecedor_id %>
    <%= form.number_field :fornecedor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
