<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th>Nota fiscal</th>
      <th>Valor frete</th>
      <th>Desconto</th>
      <th>Valor total</th>
      <th>Transportadora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.data %></td>
        <td><%= pedido.hora %></td>
        <td><%= pedido.nota_fiscal %></td>
        <td><%= pedido.valor_frete %></td>
        <td><%= pedido.desconto %></td>
        <td><%= pedido.valor_total %></td>
        <td><%= pedido.transportadora_id %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
