<p id="notice"><%= notice %></p>

<h1> Pedido <%= @pedido.nota_fiscal %> </h1>
<%= link_to 'Editar', edit_pedido_path(@pedido) %>|
<%= link_to 'Remover', @pedido, method: :delete, data: { confirm: 'Tem certeza?' } %>

<p>
  <strong>Data:</strong>
  <%= @pedido.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @pedido.hora %>
</p>

<p>
  <strong>Nota fiscal:</strong>
  <%= @pedido.nota_fiscal %>
</p>

<p>
  <strong>Transportadora:</strong>
  <%= nome_transportadora @pedido %>
</p>

<p>
  <strong>Itens:</strong>
</p>

<%= render 'items/index', items: @items %>

<p>
  <strong>Valor frete:</strong>
  <%= @pedido.valor_frete %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @pedido.desconto %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @pedido.valor_total %>
</p>
