<p id="notice"><%= notice %></p>

<h1>Transportadoras</h1>

<table>
  <tbody>
    <% @transportadoras.each do |transportadora| %>
      <tr>
        <td><%= link_to transportadora.nome, transportadora %></td>
        <td><%= link_to 'Editar', edit_transportadora_path(transportadora) %></td>
        <td><%= link_to 'Remover', transportadora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Transportadora', new_transportadora_path %>
