<p id="notice"><%= notice %></p>

<h1> <%= @transportadora.nome %> </h1>

<%= link_to 'Editar', edit_transportadora_path(@transportadora) %>

<p>
  <strong>Nome:</strong>
  <%= @transportadora.nome %>
</p>

<p>
  <strong>Pedidos:</strong>
</p>

<%= render 'pedidos/index', pedidos: @pedidos %>
