<p id="notice"><%= notice %></p>

<h1> <%= @transportadora.nome %> </h1>

<p> <%= link_to 'Editar ', edit_transportadora_path(@transportadora) %>|
<%= link_to 'Remover', @transportadora, method: :delete, data: { confirm: 'Tem certeza?' } %> </p>

<p>
  <strong>Nome:</strong>
  <%= @transportadora.nome %>
</p>

<p>
  <strong>Pedidos:</strong>
</p>

<%= render 'pedidos/index', pedidos: @pedidos %>
