<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @item.valor %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @item.quantidade %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @item.produto_id %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @item.pedido_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
