<!DOCTYPE html>
<html>
  <head>
    <title>Giganinja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
     <a href="/">Home</a>
     <a href="/pedidos">Pedidos</a>
     <a href="/fornecedors">Fornecedores</a>
     <a href="/produtos">Produtos</a>
     <a href="/transportadoras">Transportadoras</a>
    </div>
    <%= yield %>
  </body>
</html>
